.print{color:#006;}
body{background:url();}
table{background:none;color:#000;text-align:center;}
.header{background:#006;color:#FFF;}
.form{text-align:left;}
td{font-size:17px;font-weight:bold; text-decoration:none;text-align:inherit;}
.title{font-size:36px; text-shadow:#060; text-align:left;}
.user{font-size:17px;}
.foot{font-size:12px;}
.credits{font-size:10px;}
