.print{color:#003;}
body{background:url("1.jpg");}
table{background:none;color:#000;text-align:center;}
.header{background:#003;color:#FFF;}
.form{text-align:left;}
td{font-size:17px;font-weight:bold; text-decoration:none;text-align:inherit; vertical-align:middle;}
.title{font-size:36px; text-shadow:#060; text-align:left;}
.user{font-size:17px;}
.foot{font-size:12px;}
.credits{font-size:10px;}
th{background:#003;color:#FFF;}
a.linker{background:url("bg3.jpg");color:#FFF;}
a.linker:hover{background:#03C;font-size:18px; cursor:pointer;}
a{text-decoration:none; }
a:hover{azimuth:center-left;color:#F00;}